! Font settings
XTerm*faceName: FiraCode Nerd Font Mono
XTerm*faceSize: 11

! Color settings
XTerm*background: black
XTerm*foreground: grey90

! Cursor settings
XTerm*cursorBlink: true
XTerm*cursorOffTime: 600
XTerm*cursorBar: true

! Misc settings
XTerm*toolBar: false

! Backspace and Delete Key Behavior
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?

! Consolidated Key Bindings
XTerm*vt100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPARD) \n\
    <Key>BackSpace: string(0x7f) \n\
    <Key>Delete: string(0x1b) string("[3~")

