! Font settings
XTerm*faceName: FiraCode Nerd Font Mono
XTerm*faceSize: 11

! Color settings
XTerm*background: black
XTerm*foreground: grey90

! Cursor settings
XTerm*cursorBlink: true
XTerm*cursorOffTime: 600
XTerm*cursorBar: true

! Misc settings
XTerm*vt100.translations: #override \
    Ctrl Shift <Key>C:  copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD)

XTerm*toolBar: false

!! Make backspace send del code and not control+h
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?
XTerm*vt100.translations: #override \
    <Key>BackSpace: string(0x7f) \n\
    <Key>Delete: string(0x1b) string("[3~")

